/* semantic color variables */
:root {
  --color-background: rgba(246, 246, 246, 1);

  --color-border: rgba(78, 90, 249, 0.16);
  --color-border-hover: rgba(78, 90, 249, 0.32);

  --color-text: rgba(32, 31, 36, 1);
  --color-text-error: darkred;
  --color-accent-text: rgba(70, 81, 224, 1);
  --color-text-secondary: rgba(32, 31, 36, 0.64);

  --color-accent: rgba(78, 90, 249, 1);
  --color-accent-secondary: rgba(78, 90, 249, 0.32);

  --button-text-primary: rgba(255, 255, 255, 1);
  --button-text-secondary: rgba(32, 31, 36, 0.64);
  --button-background-primary: var(--color-accent);
  --button-background-secondary: rgba(255, 255, 255, 0);

  --select-background-primary: rgba(32, 31, 36, 0.08);
}

/* spacings */
:root {
  --space-0: 0px;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-11: 2.75rem;
  --space-12: 3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: Inter, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}
